body {
    margin: 0;
    overflow: hidden; /* Kaydırma çubuklarını gizle */
    background-color: #0c001a; /* Daha koyu, morumsu arka plan */
    font-family: 'Electrolize', sans-serif; /* Fütüristik font */
    cursor: default; /* Varsayılan imleci göster */
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#starsCanvas {
    z-index: 1; /* Yıldızlar en arkada */
}

#cityCanvas {
    z-index: 2; /* Şehir ve gemiler yıldızların üzerinde */
}
